<div class="auth-wrapper">
  <div class="auth-card">
    <div class="brand">
      <div class="logo">S</div>
      <h1>ChatService</h1>
    </div>
    
    <div class="header-text">
      <h2>Welcome Back</h2>
      <p>Enter your details to access your account</p>
    </div>

    <form (submit)="onLogin()" class="auth-form">
      <div class="input-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="loginData.username" name="username" placeholder="Enter username" required>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="loginData.password" name="password" placeholder="••••••••" required>
      </div>

      <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>

      <button type="submit" [disabled]="isLoading" class="primary-btn">
        <span *ngIf="!isLoading">Sign In</span>
        <div *ngIf="isLoading" class="loader"></div>
      </button>
    </form>

    <div class="auth-footer">
     <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
   </div>
  </div>
</div>